<h1> Places </h1>

<div class="row">
  <% for place in @places %>
    <div class="col-3">
      <h4><a href="/places/<%= place["id"]%>"> <%= place["name"] %></h4>
      <!-- <p><%= place["description"] %></p> -->
    </div>
  <% end %>
</div>