<!-- <h1><%= @place["name"] %></h1> --> 

<p>
    <a href="/places">Back to all places</a>
</p> 

<ul>    
    <% posts = Post.where({"place_id" => @place["id"]}) %>
    <% for post in posts %>
        <li>
            <%= post["title"] %>
            <%= post["description"] %>
            <%= post["posted_on"] %>
        </li>
    <% end %>
</ul>